# Ignore everything by default
*

# Allow only specific directories
!assets/
!external/
!engine/
!editor/

!.gitignore
!GenerateProjectFiles.bat
!CMakeLists.txt

# Re-allow all contents inside the allowed directories
!assets/**
!external/**
!engine/**
!editor/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib