# Ignore everything by default
*

# Allow only specific directories
!assets/
!external/
!engine/
!editor/

!.gitignore
!GenerateProjectFiles.bat
!CMakeLists.txt

# Tools directory
!tools/

# Font Embedder
!tools/font-embedder
!tools/font-embedder/svg
!tools/font-embedder/svg/**
!tools/font-embedder/generate-font-from-svg.js
!tools/font-embedder/generate-font-header.js
!tools/font-embedder/generate-header-from-font.js
!tools/font-embedder/generate-html-from-font.js
!tools/font-embedder/generate-icon-font.js
!tools/font-embedder/generate-svg.js

!tools/font-embedder/package.json

!tools/font-embedder/generate-font-header.bat
!tools/font-embedder/generate-icon-font.bat

# Re-allow all contents inside the allowed directories
!assets/**
!external/**
!engine/**
!editor/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib